@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 2 * $side-padding);
  height: 50px;
  background-color: $header-bg-color;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  padding: 10px $side-padding;
  position: sticky;
  top: 0;
  z-index: $header-z-index;

  .menu {
    display: flex;

    .menu-item {
      text-decoration: none;
      color: $font-color;
      font-size: 14px;
      cursor: pointer;
      margin: 0 20px;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    .active-link {
      background-color: #007bff;
      color: white;
      font-weight: 600;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
  }
}
