<div class="header">
  <img ngSrc="assets/images/logo.svg" height="33" width="100" alt="logo">
  <div class="menu">
    <ng-container *ngFor="let item of menuList">
      <a *ngIf="item.showWhenLoggedIn === undefined ? true : (item.showWhenLoggedIn ? isAuthenticated : !isAuthenticated)"
         [routerLink]="item.route"
         [routerLinkActive]="'active-link'"
         class="menu-item">{{item.title}}</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated">

    </ng-container>
  </div>
</div>
