@import 'variables';
@import 'mixins';

$header-height: 70px;

@mixin menu-item-mxn {
  color: $font-color;
  font-size: 14px;
  cursor: pointer;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f0f0f0;
  }
}

@mixin dropdown-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include avatar-border;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 2 * $side-padding);
  height: $header-height;
  background-color: $header-bg-color;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  padding: 0 $side-padding;
  position: sticky;
  top: 0;
  z-index: $header-z-index;

  .expand-icon {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    position: relative;

    .menu-item {
      @include menu-item-mxn;
    }

    .active-item {
      background-color: #f0f0f0;
    }

    .profile-sub-menu {
      @include dropdown-menu;
    }
  }
}

.side-bar {
  display: none;
  visibility: hidden;
  position: absolute;
  width: calc(300px - 2 * $side-bar-padding);
  height: 100%;
  top: 0;
  right: 0;
  z-index: $side-bar-z-index;
  background-color: $header-bg-color;
  padding: $side-bar-padding 0;

  mat-icon {
    margin-left: $side-bar-padding;
  }

  .side-bar-menu {
    .side-bar-menu-item {
      @include menu-item-mxn;
      height: 50px;
    }

    .side-bar-sub-menu {
      @include dropdown-menu;
      justify-content: flex-start;
    }

    .side-bar-sub-menu-container {
      display: none;
    }
  }
}

@media (max-width: $mobile-max) {
  .header {
    width: calc(100% - 2 * $side-bar-padding);
    padding: 0 $side-bar-padding;

    .expand-icon {
      display: block;
    }

    .menu {
      display: none;
    }
  }

  .side-bar {
    visibility: visible;
  }
}
