@import "variables";

.card {
  min-width: 200px;
  min-height: 300px;
  background-color: $header-bg-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;

  .title {
    color: $font-color;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $font-color;
    opacity: .2;
    margin-bottom: 15px;
  }
}
