@import "variables";

.user-dialog {
  padding: 15px;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      color: $font-color;
    }

    mat-icon {
      cursor: pointer;
    }
  }
}

@media (max-width: $mobile-max) {
  .user-dialog-pc {
    width: 100% !important;
  }
}
