@import "variables";

:host {
  width: 100%;
}

.pricing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  ::ng-deep app-card {
    .card {
      width: 300px;
      height: 400px;
    }
  }

  .tier {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $mobile-max) {
  .pricing {
    flex-direction: column;
    align-items: center;
  }
}
