:host {
  width: 100%;
}

.pricing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .tier {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .pricing {
    flex-direction: column;
    align-items: center;
  }
}
