<div [formGroup]="form" class="user-form">

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="sam@example.com" formControlName="email">
      <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">Incorrect email format</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="form.get('username')?.hasError('required')">Username is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-hint *ngIf="mode === 'update'">Fill to update password</mat-hint>
      <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-hint *ngIf="mode === 'update'">Fill to update password</mat-hint>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
      <mat-error *ngIf="form.hasError('passwordMismatch')">Password Mismatch</mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="mode === 'update'" class="row">
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword">
      <mat-hint *ngIf="mode === 'update'">Fill to update password</mat-hint>
      <mat-error *ngIf="form.get('newPassword')?.hasError('required')">New Password is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Birthdate</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
             formControlName="birthdate" (click)="picker.open()" readonly>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      <mat-error *ngIf="form.get('birthdate')?.hasError('required')">Birthdate is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input type="text"
             placeholder="Pick one"
             matInput
             formControlName="country"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption
                        #auto="matAutocomplete"
                        (optionSelected)="onCountrySelect($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('country')?.hasError('required')">Country is required</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Phone Index</mat-label>
      <input matInput formControlName="countryPhoneIndex">
      <mat-hint>Choose the country</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput type="number" formControlName="phone">
      <mat-error *ngIf="form.get('phone')?.hasError('required')">Phone is required</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="website">
    <mat-label>Website</mat-label>
    <input matInput formControlName="website">
    <mat-error *ngIf="form.get('website')?.hasError('required')">Website is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="file-upload">
    <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*"/>
    <input matInput [formControl]="fileName" placeholder="Choose a file" readonly (click)="fileInput.click()"/>
    <button *ngIf="fileName.value" mat-icon-button matSuffix (click)="onFileClear()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button matSuffix (click)="fileInput.click()">
      <mat-icon>drive_folder_upload</mat-icon>
    </button>
    <mat-hint *ngIf="!fileName.hasError('imageSizeExceed')">
      Max size: {{imageUploadSize}}MB
    </mat-hint>
    <mat-error *ngIf="fileName.hasError('imageSizeExceed')">
      Image file size exceeds the limit: {{imageUploadSize}}MB
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent"
          [disabled]="form.invalid || !form.dirty" (click)="onSubmit()" class="submit">
    {{btnNames[mode]}}
  </button>

</div>
