@import "variables";

$margin-bottom: 10px;

.user-form {
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-bottom;

    mat-form-field {
      width: 48%;
    }
  }

  .website, .file-upload {
    width: 100%;
  }

  .submit {
    width: 100%;
  }
}

@media (max-width: $mobile-max) {
  .user-form {
    .row {
      flex-direction: column;
      align-items: center;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .user-dialog-pc {
    width: 100% !important;
  }
}
