@import "variables";

.blue-bg {
  width: 100%;
  height: 300px;
  background: linear-gradient(90deg, #3f70af, #3687be, #34a3d2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: $blue-bg-z-index;
}

.content {
  width: calc(100% - 2 * $side-padding);
  display: flex;
  justify-content: center;
  padding: 150px $side-padding;
  position: absolute;
  z-index: $content-z-position;
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;

  mat-spinner {
    z-index: $loader-z-index;
  }
}
