@import "variables";

:host {
  width: 100%;
}

.profile {
  display: flex;
  justify-content: space-between;

  app-card:first-child {
    width: 30%;

    .avatar-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }

      .avatar-control {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $font-color;
      }
    }
  }

  app-card:last-child {
    width: 67%;

    .profile-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: calc(100% - 60px);

      .row {
        display: flex;
        justify-content: space-between;

        .field {
          display: flex;
          align-items: flex-start;
          width: 50%;
          height: 50px;

          mat-icon {
            color: $font-color;
            margin-right: 10px;
            font-size: 40px;
            width: 40px;
            height: 40px;
            line-height: 40px;
          }

          .data {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            label {
              color: $font-color;
              font-weight: 100;
            }

            div {
              color: $font-color;
              font-weight: 600;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
