@import "variables";

:host {
  width: 100%;
}

.top-edit-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: $side-bar-padding;
  color: $header-bg-color !important;
  border-color: $header-bg-color !important;
}

.profile {
  display: flex;
  justify-content: space-between;

  app-card:first-child {
    width: 30%;
    height: 400px;

    .avatar-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      img {
        width: 80%;
        max-width: 200px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }

      .avatar-control {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $font-color;
      }
    }
  }

  app-card:last-child {
    width: 67%;
    height: 400px;

    .profile-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: calc(100% - 60px);

      .row {
        display: flex;
        justify-content: space-between;

        .field {
          display: flex;
          align-items: flex-start;
          width: 50%;
          height: 50px;

          mat-icon {
            color: $font-color;
            margin-right: 10px;
            font-size: 40px;
            width: 40px;
            height: 40px;
            line-height: 40px;
          }

          .data {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            label {
              color: $font-color;
              font-weight: 100;
            }

            div {
              color: $font-color;
              font-weight: 600;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-max) {
  .profile {
    flex-direction: column;
    align-items: center;

    app-card {
      width: 67% !important;

      &:first-child {
        height: auto !important;
      }
    }
  }
}

@media (max-width: $mobile-max) {
  .top-edit-btn {
    display: block;
  }

  .profile {
    app-card {
      width: 100% !important;
    }

    app-card:last-child {
      height: auto !important;
    }

    .card-edit-btn {
      display: none;
    }

    ::ng-deep app-card:first-child {
      .card {
        position: relative;
        height: auto;
        //min-height: 0;
        margin-bottom: 0;
        box-shadow: none;

        .avatar-card {
          img {
            position: absolute;
            top: -100px;
          }

          .avatar-control {
            margin-top: 100px;
          }
        }
      }
    }

    .row {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .field {
        width: 100% !important;
        margin-bottom: 20px;
      }
    }
  }
}
