<div class="registration">
  <app-card [title]="title" [width]="mode === 'registration' ? '50%' : width">
    <div *ngIf="mode === 'registration'" class="register-step">
      <app-user-form [mode]="'registration'" (submit)="onRegistration($event)"></app-user-form>
    </div>

    <div *ngIf="mode === 'choose-verify-type'" class="choose-verify-type-step">
      <div class="toggle">
        <label>Choose your verification type:</label>
        <mat-radio-group [formControl]="verificationType">
          <mat-radio-button value="email">
            Email: <b>{{form.email}}</b>
          </mat-radio-button>
          <mat-radio-button value="phone">
            Phone: <b>{{form.countryPhoneIndex}} {{form.phone}}</b>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <button mat-raised-button color="primary" (click)="setVerifyMode()">Next</button>
    </div>

    <div *ngIf="mode === 'verify'" class="verify-step">
      <div>Insert 6 digit code sent to your {{verificationType.value}}:</div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Code</mat-label>
        <input matInput type="number" [formControl]="verificationCode">
      </mat-form-field>

      <div class="timer">
        <a href="" (click)="$event.preventDefault(); onSendAgain()" [class.a-disabled]="timerOngoing">
          Send Again
        </a>
        <div [ngStyle]="{ opacity: timerOngoing ? '1' : '.2' }">
          <b>{{minutes < 10 ? '0' : ''}}{{minutes}}:{{seconds < 10 ? '0' : ''}}{{seconds}}</b>
        </div>
      </div>

      <button mat-raised-button
              color="primary"
              (click)="onVerify()"
              [disabled]="disableVerify">Verify</button>
    </div>
  </app-card>
</div>
