@import "variables";

:host {
  width: 100%;
}

.registration {
  app-card {
    display: flex;
    justify-content: center;
  }

  .register-step {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .choose-verify-type-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;

    .toggle {
      display: flex;
      flex-direction: column;

      mat-radio-group {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .verify-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;

    .timer {
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: cornflowerblue;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }

      .a-disabled {
        pointer-events: none;
        opacity: .2;
      }
    }
  }
}
