@import "variables";

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color;
}

.line-separator {
  width: 100%;
  height: 1px;
  background-color: $font-color;
  opacity: .2;
  margin-bottom: 15px;
}
